html {font-family: 'Rubik', sans-serif;}

.flex-container {
    display: flex;
    
}

.flex-container div {
    padding: 100px;
    width: 456PX;
}

.addBtn {
    padding: 7px;
    width: 10%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 1.5em;
 
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 7px;
    
  }

 /* .ui-sortabler-helper {
    width: 500px;
  }
*/
  div p, h3, ul {width: 410px;}

  input:focus{outline: none;}

.element {
  padding: 7px;
  /*border-bottom: .5px solid;*/
}

.close {
    background-image: url(../assets/borrar.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    margin-left: 25% ;
    height: 20PX;
    padding: 7px;
    background-size: 20px;
    
  }

.deleteButton {
  background: none;
  border: none;
}

  .checkBox {width: 10%;}

.moveButton {
  cursor: pointer;
  border: none;
  height: 20px;
  background: none;
  background-image: url('../assets/Mover.svg');
  background-repeat: no-repeat;
}



