html {font-family: 'Rubik', sans-serif;}

.flex-container {
    display: flex;
    
}

.flex-container div:not(.input-value) {
    padding: 100px;
    width: 456PX;
}

.input-value {
  width: 200px;
  overflow: hidden;
}

.addBtn {
    padding: 7px;
    width: 10%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 1.5em;
 
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 7px;
    
  }


  div p, h3, ul {width: 410px;}

  input:focus{outline: none;}

.element {
  padding: 7px;
  display: grid;
  grid-auto-flow: column;
  width: 430px;
  /*border-bottom: .5px solid;*/
}

.close {
    background-image: url(../assets/borrar.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 20PX;
    padding: 7px;
    background-size: 20px;
    
  }

.deleteButton {
  background: none;
  border: none;
}

  .checkBox {width: 10%;}

.moveButton {
  cursor: pointer;
  border: none;
  height: 20px;
  background: none;
  background-image: url('../assets/Mover.svg');
  background-repeat: no-repeat;
}



